<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>CasoPractico</title>        
    </head>
    <body>
        
        <header th:replace="~{layout/plantilla :: header}"/>
        <nav th:replace="~{layout/plantilla :: nav}"/>
        <div class="container">
            <p En FarmaFide, nuestra misión es ser tu aliado de confianza en el cuidado de la salud. Desde nuestra fundación, nos hemos dedicado a servir a nuestra comunidad con profesionalismo, calidez y un profundo compromiso con tu bienestar. Creemos que la salud es un derecho fundamental, y nos esforzamos por hacerla accesible y comprensible para todos.

               Nuestro equipo de farmacéuticos y personal altamente capacitado está aquí para brindarte asesoramiento personalizado, responder a tus preguntas y ofrecerte soluciones que se adapten a tus necesidades. En FarmaFide, no solo dispensamos medicamentos, sino que construimos relaciones basadas en la confianza y el respeto.></p>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>   
        
    </body>
</html>
